<h1 class="banner">Answer - Stupid Coaching</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<p>Ask : <%= @ask %> </p>
<p>Answer Coach : <%= @answer %> </p>

<a href=""> <%= link_to 'Ask a new question', ask_path %> </a>

